<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">{{tipo}} {{numero}}</h5>
          <p class="card-text">Data: {{data}}</p>
          <p class="card-text">Hora: {{hora}}</p>
          <p class="card-text">Status: {{status}}</p>
          <p class="card-text">Objeto: {{objeto}}</p>
          <p class="card-text">Reuniões: {{reunioes}}</p>
          <p class="card-text">Arquivos: {{arquivos}}</p>
          <a href="#" class="btn btn-primary">Análisar arquivos</a>
        </div>
      </div>
    </div>
  </div>