:root {
    --color-primary: #007bff;
    --color-secondary: #acf7ff;
  }

.language-links img {
    display: none; /* Recurso que será implementado no futuro */
    width: 24px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    vertical-align: middle;
    margin-right: 10px;
  }
  .language-links a {
    text-decoration: none;
  }

  header h1 {
    text-align: center;
    height: 80px;
    line-height: 80px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  #secretaria-title {
    text-align: center;
    color: var(--color-primary);
  }

  #loader {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary);
    background-color: rgba(255, 255, 255, 0.6);
  }

  #secretaria, #dados-licitacao {
    color: var(--color-primary);
    height: 80vh;
    overflow-y: auto;
  }

  #secretaria-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  #urlTarget {
    text-transform: lowercase;
    padding: 0px 10px;
  }

  .input-theme {
    font-weight: bold;
    line-height: 40px;
  }

  .modal-theme {
    border: thin ridge var(--color-secondary);
    box-shadow: var(--color-secondary) 0px 0px 10px;
    padding: 20px;
  }

  .btn-theme, #secretaria-list a {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: bold;
  }

  .btn-realce{
    background-color: #025dbf;
  }